<!DOCTYPE html>
<html>

<head>
  <title>RTMP Stream Processing</title>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Questrial&family=Squada+One&display=swap');
  </style>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/client.css') }}">

</head>

<body>

  <div id="header">
    <h1 class="title_black"> ----------- Client Application ----------- </h1>
  </div>



  <div id="main-body">
    <div id="container">
      <div id="background-list">
        <div id="highlight-list">
          <p class="title">Match Highlights </p>
          <div class="highlight-card">
            <!-- <p class="highlight-text"> <b> Time: </b> <span class="json-minutes"></span>:<span
              class="json-seconds"></span> <br>
              <b> Highlights: </b> <span class="json-highlight"> </span>
            </p> -->
            <p class="highlight-text"> <b> Time: 20 </b> <span class="json-minutes"></span>:<span
              class="json-seconds"></span> <br>
              <b> Highlights: this is a hgilhightjas;lfkj;aslkfjd;oakjfd;oawjkf;ojadf </b> <span class="json-highlight"> </span>
            </p>
          </div>
          <!-- <ul id="unordered-highlights">
             <li id="json-data-highlight" style="display:none;">
               
             </li>
           </ul>  -->
        </div>
      </div>
    </div>
  </div>





</body>


<script>
  let elapsedTime = 0;


  function timeToString(time) {
    let diffInHrs = time / 3600000;
    let hh = Math.floor(diffInHrs);

    let diffInMin = (diffInHrs - hh) * 60;
    let mm = Math.floor(diffInMin);

    let diffInSec = (diffInMin - mm) * 60;
    let ss = Math.floor(diffInSec);

    let diffInMs = (diffInSec - ss) * 100;
    let ms = Math.floor(diffInMs);

    let formattedMM = mm.toString().padStart(2, "0");
    let formattedSS = ss.toString().padStart(2, "0");
    let formattedMS = ms.toString().padStart(2, "0");

    return `${formattedMM}:${formattedSS}:${formattedMS}`;
  }

  function updateHighlights() {
    $.ajax({
      type: 'GET',
      url: '/get_highlight',
      dataType: "json",
      success: function (data) {
        listElement = $("#unordered-highlights");
        let numChildren = listElement.children().length;
        let numHighlights = Object.keys(data).length;
        for (let i = numChildren - 1; i < numHighlights; i++) {
          var clonedHighlight = $("#json-data-highlight").clone();
          clonedHighlight.find(".json-minutes").text(JSON.stringify(data[i]['minutes']));
          clonedHighlight.find(".json-seconds").text(JSON.stringify(data[i]['seconds']));
          clonedHighlight.find(".json-highlight").text(JSON.stringify(data[i]['highlights']));
          clonedHighlight.removeAttr("style");
          listElement.append(clonedHighlight);
        }
      },

    });
  };

  function updateActions() {
    $.ajax({
      type: 'GET',
      url: '/get_action',
      dataType: "json",
      success: function (data) {
        listElement = $("#unordered-actions");
        let numChildren = listElement.children().length;
        let numHighlights = Object.keys(data).length;
        for(let i=numChildren-1; i<numHighlights; i++){
          var clonedAction = $("#json-data-action").clone();
          clonedAction.find(".json-time").text(JSON.stringify(data[i]['gameTime']));
          clonedAction.find(".json-confidence").text(JSON.stringify(   ((parseFloat(data[i]['confidence'])*100).toFixed(2) ) + " %").replace(/\"/g, ""));
          clonedAction.find(".json-action").text(JSON.stringify(data[i]['label']));
          clonedAction.removeAttr("style");
          listElement.append(clonedAction);
        }
      },

    });
  };

  $(document).ready(function () {
    setInterval(updateHighlights, 15000);
    setInterval(updateActions, 5000);
  });

  // document.getElementById("processBtn").addEventListener("click", function(event){
  //     console.log("Button clicked");
  //     var xhr = new XMLHttpRequest();
  //     xhr.open("GET", "/process_stream");
  //     xhr.onreadystatechange = function() {
  //         if (xhr.readyState === 4 && xhr.status === 200) {
  //             console.log("Response received");
  //         }
  //     };
  //     xhr.send();
  //contentType: 'application/json;charset=UTF-8',
  // });



  document.getElementById("processBtn").addEventListener("click", function (event) {
    startTime = Date.now() - elapsedTime;
    
    timerInterval = setInterval(function printTime() {
      elapsedTime = Date.now() - startTime;
      $("#counter").text(timeToString(elapsedTime))
    }, 10);

    $.ajax({
      type: 'GET',
      url: '/process_stream',
      dataType: "json",
      success: function (data) {
      },
    });

  });
</script>

</html>

