body {
    margin: 0px 0px;
}

#main-body {
    justify-content: center;
}

#container {
    /*background-color: rgb(255, 255, 255);*/
    overflow: hidden;
    width: fit-content;
    margin: 0 auto;
}

#container>div {
    float: left;
    margin: 64px;
    height: 1000px;
}


#stream {
    border-radius: 10px;
    margin: 0 0;
}


#background-list {
    overflow-y: auto;
    width: 480px;
    /*background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.4);*/
    background-image:url("/static/iPhoneBackground_v1.png");
    background-size: 220%;
    background-position: 50% 10%;
    border-radius: 10px;
}

#highlight-list {
   margin-top: 50%; 
}

#action-list {
    overflow-y: auto;
    width: 480px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.4);
}

.title {
    color: rgb(18, 138, 229);
    text-align: center;
    font-size: 36px;
    font-family: 'Questrial';
    font-weight: bold;
}

.title_black {
    color: rgba(28, 42, 56, 1);
    text-align: center;
    font-size: 48px;
    font-family: 'Questrial';
    font-weight: bold;
    margin: 40px;
}

.highlight-card{
    word-wrap: break-word;
    background-color: rgb(164, 208, 242);
    border-color:rgba(0, 0, 0, 1);
    margin-left: 20%;
    margin-right: 20%;
    padding: 4%;
    border-radius: 15px;
    border-width: 10px;
}


#header {
    justify-content: center;
}

#logo {
    display: block;
    width: 4%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.highlight-text {
    color: rgba(28, 42, 56, 1);
    font-size: 16px;
    font-family: 'Questrial';
    margin-right: 10px;
}

#processBtn {
    background-color: white;
    border-radius: 25px;
    border-color: rgb(125, 44, 139);
    ;
    padding: 14px 22px;
    text-align: center;
    font-family: 'Questrial';
    font-size: 18px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    color: rgba(28, 42, 56, 1);
}

#processBtn:hover {
    background-color: rgb(125, 44, 139);
    color: white;
}

#footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

#counter{
    color: rgba(28, 42, 56, 1);
    font-size: 18px;
    font-family: 'Questrial';
}