body {
    margin: 0px 0px;
}

#main-body {
    justify-content: center;
}

#container {
    /*background-color: rgb(255, 255, 255);*/
    overflow: hidden;
    width: fit-content;
    margin: 0 auto;
}

#container>div {
    float: left;
    margin: 64px;
    height: 1000px;
}


#stream {
    border-radius: 10px;
    margin: 0 0;
}


#background-list {
    overflow-y: auto;
    width: 480px;
    /*background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.4);*/
    background-image:url("/static/iPhoneBackground_v1.png");
    background-size: 220%;
    background-position: 50% 10%;
    border-radius: 10px;
}

#highlight-list {
   margin-top: 50%; 
   height: 600px;
   overflow: scroll;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}


#action-list {
    overflow-y: auto;
    width: 480px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.4);
}

.title {
    color: rgb(18, 138, 229);
    text-align: center;
    font-size: 32px;
    font-family: 'Questrial';
    font-weight: bold;
}

.title_black {
    color: rgba(28, 42, 56, 1);
    text-align: center;
    font-size: 48px;
    font-family: 'Questrial';
    font-weight: bold;
    margin-bottom: 40px;
    margin-top: 0px;
}

.subtitle {
    color: rgba(28, 42, 56, 1);
    text-align: center;
    font-size: 24px;
    font-family: 'Questrial';
    margin-bottom: 0px;
}

.highlight-card{
    word-wrap: break-word;
    background-color: rgb(224, 236, 245); /* rgb(164, 208, 242)*/
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
    padding: 3%;
    border-radius: 15px;
    border: 2px solid rgb(18, 138, 229);;
}

.time-text{
    color:rgb(212, 75, 75);
    display: inline-block;
    margin-bottom: 3px;
}

.highlight-text{
    display: inline-block;
    margin-top: 3px;
}

#header {
    justify-content: center;
}

#logo {
    display: block;
    width: 4%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.highlight-text {
    color: rgb(49, 49, 49);
    font-size: 15 px;
    font-family: 'Questrial';
    margin-right: 10px;
    margin-top: 0;
    margin-bottom: 0;
}


#footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

